# Node
node_modules/
dist/

# Flutter
.dart_tool/
.build/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Angular
.angular/


# PHP/Laravel
vendor/
.env
bootstrap/cache/*.php
storage/*.key

# Logs
*.log

# OS
.DS_Store
Thumbs.db
